# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
ENV.*/
venv.*/
# Ignore virtual environment files
myenv/
.env
# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
# Miscellaneous
*.csv
*.png
.DS_Store
.vercel
