# Visual Studio 
*.user
*.userosscache
*.sln.docstates

# Python 
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
ENV.*/
venv.*/
# Ignore virtual environment files
myenv/
.env
# *.png
*.csv
.vercel
